{% extends 'base.html.twig' %}

{% block title %}Hello AdminOrdersController!{% endblock %}

{% block body %}
<div class="table section-p1">
	<div class="wrapper">
		<h1>Admin Commandes</h1>

		<a href="{{ path('app_admin')}}" class="btn">Retour accueil BACKOFFICE</a>

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Utilisateur</th>
					<th>Produits</th>
					<th>Quantité</th>
					<th>Montant</th>
					<th>Statue</th>
					<th>Date Enregistrement</th>
					<th>Editer / Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for data in orders %}
					<tr>
						<td>{{ data.id }}</td>
						<td>{{ data.user.username }}</td>
						<td>
                            {% for product in data.products %}
                                {{product.name}}<br>
                            {% endfor %}
                        </td>
						<td>{{ data.quantity }}</td>
						<td>{{ data.totalPrice }}€</td>
						<td>{{ data.status}}</td>
						<td>{{ data.createdAt|date('d/m/Y à H:i:s') }}</td>
						<td>
							<a href="{{ path('app_admin_orders_edit', {'id' : data.id}) }}" class="gear">
								<i class="fa-solid fa-gears"></i>
							</a>
	
							<a onclick="return confirm('Voulez-vous supprimer ce membre ?')" href="{{ path('app_admin_orders_delete', {'id' : data.id}) }}" class="trash">
								<i class="fa-solid fa-trash"></i>
							</a> 
						</td>											
					</tr>
				{% endfor %}
			</tbody>
	
		</table>
	 </div>
 </div>
{% endblock %}
